@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
}

body {
  background-color: #f4efe2;
  color: #18140f;
}

::selection {
  background-color: #8a3324;
  color: #ffffff;
}
